/*
*  html5resetcss
*/
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}
body{line-height:1}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
nav ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent}
ins{background-color:#ff9;color:#000;text-decoration:none}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}
del{text-decoration:line-through}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}
table{border-collapse:collapse;border-spacing:0}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
input,select{vertical-align:middle}

body{
background-color: #00171F;
color: #00A7E1;

}

.Index-div{

    background-color: white;
    height: 700px;
    width: 1500px;
    
    border-radius: 75px;
    padding: 75px;
    margin-top: 50px;

    box-shadow: #000;
    text-align: center;
    
    margin-left: auto;
    margin-right: auto;

}


.Index-h2{

    font-size: 90px;
    color: #00A7E1;
   text-align: center;

}

.Index-wrapper{
display: grid;
gap: 75px 200px;
grid-template-columns: auto auto auto auto;
margin-top: 200px;



}


.Index-article{

    margin-top: 100px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
height: 200px;
width: 200px;

  grid-template-columns: auto auto auto auto;
  transition: 1s;

 
 


}

@keyframes buttonhover{
from { background-color: #00171F;
    color: white;}

    to { background-color: white;
        color: #00171F;}
}









.Index-p{
    background-color: #ff9;

text-align:center;
display: block;
width: 200px;

}

.Index-button{

background-color: #00171F;
color: white;
padding: 7px;
display: block;
height: 35px;
margin: auto;
}
.Index-button:hover{

   
    
    animation: buttonhover 2s ease  alternate;
    
    
    
    }







    .Index-img{

padding-top: 15px;
width: 80%;

    }

    .Index-h1{


font-size: 20px;

    }

    @media only screen and (min-width: 800px) {



        .Index-article:hover{

            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        height: 350px;
        width: 350px;
        transition:  .75s;
        }

    }
        

       
  
        
    



    @media only screen and (max-width: 768px) {


        .Index-div{

            background-color: white;
            height: 200px;
            width: 200px;
            
            border-radius: 75px;
            padding: 75px;
            margin-top: 50px;
        
            box-shadow: #000;
            text-align: center;
            
            margin-left: auto;
            margin-right: auto;
        
        }

        .Index-wrapper{
            display: grid;
            row-gap: 2px;
            grid-template-columns: auto ;
            margin-left: auto;
            margin-right: auto;
            margin-top: 250px;
            
           align-content: center;
        }
        
.Index-h2{

    font-size: 30px;
    color: #00A7E1;
   text-align: center;

}

.Index-article{


    
    box-shadow: rgba(86, 244, 255, 0.35) 0px 5px 15px;
height: 200px;
width: 200px;

background-color: white;
}

  


    
    
    }